<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menu </title>

    <!-- Custom fonts for this template-->

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<base href="http://localhost:8080/menu">
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        sec:authorize="hasAuthority('ADMIN')">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/menu">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Alkemy Lab <sup>siu-guarani</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/menu">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Menu</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/subject">
                <i class="fas fa-book"></i>
                <span>Materias</span>
            </a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/teacher">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Profesores</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Estudiantes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Administradores</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="height:100px">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2  d-lg-inline text-gray-600 small" th:text="${username}">User</span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Menu</h1>

                </div>

                <!-- Content Admin -->
                <div class="row" sec:authorize="hasAuthority('ADMIN')">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Estudiantes
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countStudents}"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Materias
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countSubjects}"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-book"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Profesores
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${countTeacher}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Usuarios
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${countUsers}"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Student -->

                <div class="row" sec:authorize="hasAuthority('STUDENT')">
                    <section id="main-content">
                        <hr>
                        <h3>Materias</h3>
                        <section class="wrapper">

                            <!-- page start-->

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>
                                        <a th:href="@{'/menu/' + ${1} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                                            Nombre</a>
                                    </th>
                                    <th>Horario de inicio</th>
                                    <th>Horario de finalización</th>
                                    <th>Vacantes</th>
                                    <th>Profesores</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="subject:${subjects}">
                                    <td th:text="${subject.id}"></td>
                                    <td th:text="${subject.name}"></td>
                                    <td th:text="${subject.startTime}"></td>
                                    <td th:text="${subject.finishTime}"></td>
                                    <td th:text="${subject.inscriptionVacancy}"></td>
                                    <td>
                                        <p th:each="teacher:${subject.teachers}"
                                       th:text="${teacher.name} + ' ' + ${teacher.lastname}"></p>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a th:href="@{/subject/findById/(id=${subject.id})}"
                                               class="btn m-1 btn-success detailsButton" id="detailsButton">Detalles</a>
                                            <a th:href="@{/student/addToSubject/(id=${subject.id})}"
                                               class="btn m-1 btn-primary addStudentToSubject" id="addStudentToSubject">Inscribirme</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- page end-->
                        </section>
                    </section>

                    <section id="main-content">
                        <hr>
                        <h3>Mis Materias</h3>
                        <section class="wrapper">

                            <!-- page start-->

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Horario de inicio</th>
                                    <th>Horario de finalización</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="subject:${studentSubjects}">
                                    <td th:text="${subject.id}"></td>
                                    <td th:text="${subject.name}"></td>
                                    <td th:text="${subject.startTime}"></td>
                                    <td th:text="${subject.finishTime}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <a th:href="@{/subject/findById/(id=${subject.id})}"
                                               class="btn m-1 btn-success detailsButton" id="detailsButton">Detalles</a>
                                            <a th:href="@{/student/removeSubject/(id=${subject.id})}"
                                               class="btn m-1 btn-danger removeSubjectButton" id="removeSubject">Dar de
                                                baja</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- page end-->
                        </section>
                    </section>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; ALKEMY LAB 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de que quiere cerrar la sesion?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleccione salir si desea cerrar su sesion.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="/logout">Salir</a>
            </div>
        </div>
    </div>
</div>

<!-- Details Modal  -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Detalles de la Materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameDetails" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nameDetails" name="name">
                    </div>

                    <div class="form-group">
                        <label for="startTimeDetails" class="col-form-label">Horario de inicio:</label>
                        <input type="time" class="form-control" id="startTimeDetails" name="startTime">
                    </div>

                    <div class="form-group">
                        <label for="finishTimeDetails" class="col-form-label">Horario de finalización:</label>
                        <input type="text" class="form-control" id="finishTimeDetails" name="finishTime">
                    </div>

                    <div class="form-group">
                        <label for="vacancyDetails" class="col-form-label">Cantidad de vacantes:</label>
                        <input type="text" class="form-control" id="vacancyDetails" name="inscriptionVacancy">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Student and subject Modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de que quieres inscribirte a esta Materia?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="confirmAddButton" href="">Inscribirme</a>
                <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Student and subject Modal -->
<div class="modal" id="removeSubjectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de que quieres darte de baja de la Materia?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="confirmAddButton" href="">Aceptar</a>
                <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="js/menu.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>